<footer id="footer" class="site-footer">
  <div class="inner">
    <div class="copyright">
      {% if site.copyright %}
        {{ site.copyright | markdownify }}
      {% else %}
        <p>{% if site.logo %}<img src="{{ site_logo }}" alt="{{ site.title }}" class="site-logo">{% endif %} <span class='brand'>{{ site.title }}</span> {{ site.time | date: '%Y' }}{% if site.slogan %} ~ <span class="slogan">{{ site.slogan }}</span> {% endif %}
        </p>
      {% endif %}
    </div>
  </div>
</footer>
