/* más acesible sass overrides */

p.jumbo{
	@include fluid-type($min-vw, $max-vw, 24px, 48px);
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;

	a{
		text-decoration: none;
	}
}

.entry-content{
	p{
		text-align: justify;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
	}
}
.button{
	text-align: center;
	a{
		display: inline-block;
		color: $background-color;
		background-color: $accent-color;
		padding: 1ex 3ex;
		font-weight: bolder;
		text-decoration: none;
		border-radius: 3ex;
	}
}

hr.divider{
	margin: 4em 0 2em;
	border-bottom: 1px solid #d7d8da;
	border-top: 1px solid transparent;
}

.logo{
	text-align: center;
	img{
		max-width: 50%;
		height: auto;
	}
}


.grid {

	display: grid;
	grid-gap: 2em;
	margin: 2em 0;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: ". ." ". ." ". .";
	grid-gap: 1em 3em;

	@include breakpoint($small * 1.30) {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: ". . ." ". . ." ". . .";
	}

	@include breakpoint($medium) {
		grid-gap: 1.2em 4em;
	}


	.col{
		.img-profile{
			width: 100%;
			height: auto;
			border-radius: 50%;
		}

		.name{
			margin-top: 1.5em;
			min-height: 5em;
			text-align: center;
			@include fluid-type($min-vw, $max-vw, 11px, 16px);
			font-weight: 700;
			text-transform: uppercase;

			.title{
				text-transform: none;
				font-weight: lighter;
				@include fluid-type($min-vw, $max-vw, 10px, 14px);
			}
		}
	}
}

.brand{
	font-weight: 800;
}
