/* más acesible sass overrides */

p.jumbo{
	font-size: 2.5em;
}

.button{
	text-align: center;
	a{
		display: inline-block;
		color: $background-color;
		background-color: $accent-color;
		padding: 1ex 3ex;
		font-weight: bolder;
		text-decoration: none;
		border-radius: 3ex;
	}
}

hr.divider{
    margin: 4em 0 2em;
    border-bottom: 1px solid #d7d8da;
    border-top: 1px solid transparent;
}

.logo{
	text-align: center;
	img{
		max-width: 50%;
		height: auto;
	}
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: ". ." ". ." ". .";
  grid-gap: 2em;
  margin: 2em 0;

  .col{
  	.img-profile{
		width: 100%;
		height: auto;
		border-radius: 50%;
		filter: grayscale(100%);
	}

	.name{
		margin-top: 1.5em;
		min-height: 5em;
		text-align: center;
		font-size: .5em;
	    font-weight: 700;
	    text-transform: uppercase;
	    letter-spacing: .09ex;

		.title{
			text-transform: none;
			font-weight: lighter;

		}
	}
  }
}

@media only screen and (min-width: 960px) {
	 .grid {
	  grid-template-columns: 1fr 1fr 1fr 1fr;
	  grid-template-rows: 1fr 1fr 1fr;
	  grid-template-areas: ". . . ." ". . . ." ". . . .";
	  grid-gap: 3em;
	}
}
